alabaster==0.7.10
archook==1.2.0
asn1crypto==0.24.0
astroid==1.6.5
Babel==2.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
bleach==2.1.3
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cloudpickle==0.5.3
colorama==0.3.9
configparser==3.5.0
cryptography==2.2.2
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Fiona==1.7.12
functools32==3.2.3.post2
futures==3.2.0
GDAL==2.2.4
geopandas==0.3.0
html5lib==1.0.1
idna==2.6
imagesize==1.0.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.0
mpld3==0.3.1.dev1
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.5.0
numpy==1.14.5
numpydoc==0.8.0
packaging==17.1
pandas==0.23.1
pandocfilters==1.4.2
parso==0.2.1
pathlib2==2.3.2
pew==1.1.0
pickleshare==0.7.4
pipenv==8.2.7
prompt-toolkit==1.0.15
psutil==5.3.1
psycopg2==2.7.5
pycodestyle==2.4.0
pycparser==2.18
PyCRS==0.1.3
pyflakes==2.0.0
Pygments==2.2.0
pylint==1.9.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.3
PySocks==1.6.8
python-dateutil==2.7.3
python-dotenv==0.8.2
pythonnet==2.3.0
pytz==2018.4
pywinpty==0.5.4
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.2
requests==2.18.4
rope==0.10.7
Rtree==0.8.3
scandir==1.7
scipy==1.1.0
Send2Trash==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
spyder==3.2.8
SQLAlchemy==1.2.9
subprocess32==3.5.2
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
typing==3.6.4
urllib3==1.22
virtualenv-clone==0.2.6
wcwidth==0.1.7
webencodings==0.5.1
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
